


body{
    font-family: "Poppins", sans-serif;
}

.offerbar{
    background-color: black;
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 20px;
}
 /* service */

    
 .service-container1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.service-container1 h1{
    font-size: 30px;
    font-weight: bold;
}
.service-container1 p{
    font-size: 20px;
}
.service-container2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
.service-container2 div{
    background-color: #f2f4ff;
    border-radius: 5px;
    padding: 10px;
}


.hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.hide-scroll-bar::-webkit-scrollbar {
    display: none;
}
.limited-offer{
display: flex;
justify-content: space-evenly;
align-items: center;
background-color: rgb(27, 26, 31);
color: white;
padding: 20px;
gap: 10px;
}

.limited-offer-text h2{
font-size: 50px;
}
.limited-offer-text h4{
font-size: 30px;
}
.limited-offer-text button{
padding-left: 8%;
padding-right: 8%;
padding-top: 3%;
padding-bottom: 3%;
margin-top: 5px;
font-size: 1.2vw;
border-radius: 10px;
color:black;
background-color: white;
border: none;
font-weight: bold;
}
.container img{
    width: 100%;
    height:500px;
}
/* new arrival */
.newarrival{
    padding-top: 70px; /* Same value as margin-top */
    margin-top: -70px; /* Negative margin to offset the fixed nav height */
    padding-bottom: 20px;
}
#most-wanted{
    padding-top: 70px; /* Same value as margin-top */
    margin-top: -70px; /* Negative margin to offset the fixed nav height */
    padding-bottom: 20px;
}
.newarrival-container{
    display: flex;
    justify-content: space-between;
    margin-top: 2vw;
}

.newimage{
    position: relative;
}
.newimage img{
    border-radius: 2%;
    width: 20vw;
    height: 20vw;
}

.overlay{
    border-radius: 2%;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 2;
    opacity: 0.6;
    top: 0;
}

.overlay button{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 10px;
    font-size: 1.2vw;
    border-radius: 10px;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 18%;
    color:black;
    background-color: white;
    border: none;
    font-weight: bold;
}
.divider-section{
    display: flex;
}
.aside{
    flex-basis: 25%;
    background-color: red;
    position:relative;
    font-size: 2vw;
}

    .most-wanted-container {
        position: relative;
        display: inline-block;
        padding-right: 12px; /* Adjust this value for desired spacing */
    }
    
    .sale-overlay {
        position: absolute;
        top: 4px;
        left: 15px;
        font-size: 20px;
        background-color: red;
        color: white;
        padding: 5px;
        border-radius: 10%;
    }
    .like
    {
        position: absolute;
        top: 80%;
        left: 80%;
        font-size: 30px;
        color: black;
        transition: color 0.3s ease;
    }

    .liked {
        color: red;
    }
    .brand-container{
        display: flex;
        justify-content: space-between;
        margin-top: 2vw;
    }
    .brands-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size:20px;
        font-weight: bold;
    }
    .brand-container img{
        width: 100px;
        height: 100px;
       
    }

@media screen and (max-width: 680px) {
    .offerbar {
        font-size: 12px;
       
    }
    .container h2{
font-size: 20px;
    }
    .container p{
        font-size:15px
    }
    #slider img {
        height: 300px;
        
    }
    #slider .absolute {
        height: 300px;
        
    }
    #slidebtn button {
        padding: 10px; /* Adjust as needed */
    }
    #slidebtn .w-6, #slidebtn .h-6 {
        width: 20px !important; /* Adjust as needed */
        height: 20px !important; /* Adjust as needed */
    }
    .service-container1 h1{
        font-size: 10px;
        
    }
    .service-container1 p{
        font-size: 10px;
    }
    .service-container2{
        font-size: 5px;
    }
    .limited-offer-text h2{
        font-size: 15px;
    }
    .limited-offer-text h4{
        font-size: 7px;
    }
    .brands-item{
        
        font-size:10px;
        
    }
    .brand-container img{
        width: 50px;
        height: 50px;
       
    }
   
}
@media screen and (max-width: 480px) {
    .service-container1 p{
        font-size: 5px;
    }
    .service-container2{
        font-size: 4px;
    }
    .service-container2 i{
        font-size: 10px;
    }
    
    .brands-item{
        
        font-size:7px;
        
    }
    .brand-container img{
        width: 40px;
        height: 40px;
       
    
}
}
